:root{
    --cor-fundo: #01078E ;
    --cor-principal: #0B3D20 ;
    --cor-secundaria: #213333; 
    --cor-destaque: #28DEFD;
    --cor-texto: #D7F96F;

}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 85%;
    max-width: 700px;
    text-align: center;
    padding: 25px;
}

h1{
    color: var(--cor-destaque);
}

button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 20px;
    padding: 20px;
    transition: background-color 1s;
}

button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}
